<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>

  <style>
    .navbar {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/dice/2/6">2d6</a></div>
    <div><a href="/dice/2/10">2d10</a></div>
    <div><a href="/dice/1/20">1d20</a></div>
    <div><a href="/dice/5/4">5d4</a></div>
  </div>

  <%= yield %>

</body>
</html>
