<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
<h1>1d20</h1>

<% if @die == 1 %>
  <p style="color: red"><%= @outcome %></p>
<% elsif @die == 20 %>
  <p style="color: green"><%= @outcome %></p>
<% else %>
  <p><%= @outcome %></p>
<% end %>
</body>
</html>
