<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
  <h1>2d6</h1>

  <ul>
    <% @rolls.each do |a_roll| %>
      <li>
        <%= a_roll %>
      </li>
    <% end %>
  </ul>

</body>
</html>
